@font-face {
    font-family: "Inter-Regular";
    src: url("/assets/Inter-Regular.ttf");
}

body {
    background-color: #ddd;
}

#graph {
    position: absolute;
    top: 0px;
    left: 0px;
}

#equations {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Inter-Regular";
    font-size: 16px;
    background: #FFFD;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 80%;
    overflow-y: scroll;
}

.equation {
    margin: 10px;
    height: 28px;
    display: flex;
    flex-direction: row;
}

.equation .r {
    font-family: "Times New Roman", "Symbola", serif;
    font-style: italic;
    flex-shrink: 0;
    margin: auto;
}

.equation .mathinput {
    width: 90%;
    margin-left: 5px;
}

.equation.half-reveal {
    opacity: 50%;
}