@font-face {
    font-family: "Inter-Regular";
    src: url("/assets/Inter-Regular.ttf");
}

body {
    background-color: #ddd;
}

#graph {
    position: absolute;
    top: 0px;
    left: 0px;
}

#equations {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Inter-Regular";
    font-size: 16px;
    background: #d7f5ff;
    width: 20%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 90%;
    overflow-y: scroll;
}

.equation {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.equation .r {
    font-family: "Times New Roman", "Symbola", serif;
    font-style: italic;
    flex-shrink: 0;
    margin: auto;
}

.equation .mathinput {
    width: 90%;
    margin-left: 5px;
    border-width: 1.75px;
    border-radius: 10px !important;
    padding-left: 5px;
    transition: 0.1s ease-out;
}

.equation .mathinput.mq-focused, .equation .mathinput:hover {
    transform: scale(1.05);
}

.equation.half-reveal {
    opacity: 35%;
}

.coords-tooltip {
    position: absolute;
    opacity: 0;
    background-color: #000;
    border-radius: 15px;
    pointer-events: none;
    padding: 2px 4px;
    display: flex;
}

.coords-tooltip.with-math {
    padding: 3px 4px 0 !important;
}

.coords-tooltip.with-denominator {
    padding: 5px 4px 0 !important;
}

.coords-tooltip div {
    font-family: "Inter-Regular";
    color: #fff;
    margin: auto;
    text-align: center;
}

.coords-tooltip.with-math div .math-span {
    transform: translateY(-2px);
}